@{
    ViewBag.Title = "About";
}

    <div class="jumbotron" style="margin-right: 40px; margin-top: 40px;">
        <h2>About This Recipe Book</h2>
        <hr />
        <p>
            This website combines use of .NET MVC 5 and Vue.js. In the recipe book, everything you see is handled through Vue.js. Everything you do in the recipe book uses Vue.js including Creating
            new recipes, editing recipes, deleting recipes and the backend work of retreiving recipes for display. A big project I currently work on at Reading Horizons has a big section that uses Vue.js,
            so I wanted to create my own Vue.js website within a .NET MVC5 appliction so I could learn the ins and outs of Vue.js in MVC. This project gave me greater understanding of Vue.js and how to use
            it with the vue-router and MVC. It's not by any means perfect, but I'm proud of what I learned and accomplished.
        </p>
    </div>