@{
    ViewBag.Title = "Contact";
}

    <div class="jumbotron" style="margin-top: 40px; margin-left: 40px;">
        <div class="row">
            <div class="col-md-3" style="border-right: 1px solid black;">
                <h2>Mike Dickson</h2>
                <img src="~/Assets/Images/mike dickson.png" style="max-height: 500px;" alt="Mike Dickson" /> <br />
            </div>
            <div class="col-md-9">
                <h2>Contact</h2>
                <ul style="list-style:none;">
                    <li>
                        <a style="font-size:2em;" href="mailto:mikeasaurusrecks@gmail.com" target="_blank">Email</a> <br />
                    </li>
                    <li>
                        <a style="font-size:2em;" href="https://github.com/GoatRydah" target="_blank">Github</a> <br />
                    </li>
                    <li>
                        <a style="font-size:2em;" href="https://www.linkedin.com/in/mike-dickson-csmajor/" target="_blank">Linked In</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
